{% extends 'base.html' %}

{% block title %}Our Services - Law Firm{% endblock %}

{% block content %}
    <!-- Services Section -->
    <section id="services" class="my-5 py-5">
        <div class="container">
            <h2 class="text-center mb-4 display-4">Our Services</h2>
            <p class="lead text-center mb-5">At our firm, we offer a wide range of legal services to meet the diverse needs of our clients. Our experienced attorneys are dedicated to providing the highest level of service and expertise in each practice area.</p>
            
            <div class="row">
                {% for service in services %}
                <!-- Service Card -->
                <div class="col-md-4 mb-4">
                    <div class="card border-light shadow-sm service-card">
                        {% comment %} <img src="{{ service.image.url }}" class="card-img-top"  alt="{{ service.title }}"> {% endcomment %}
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ service.title }}</h5>
                            <p class="card-text">{{ service.description|safe|slice:":150" }}...</p>
                            <a href="{% url 'service_detail' service.slug %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Include your JavaScript at the end of the body -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Define an array of color classes
            const colors = [
                'card-bg-color-1',
                'card-bg-color-2',
                'card-bg-color-3',
                'card-bg-color-4',
                'card-bg-color-5',
                'card-bg-color-6',
                'card-bg-color-7',
                'card-bg-color-8',
                'card-bg-color-9',
                'card-bg-color-10'
            ];
            
            // Get all the cards
            const cards = document.querySelectorAll('.service-card');
            
            // Assign colors to each card in a sequential manner
            cards.forEach((card, index) => {
                const colorClass = colors[index % colors.length];
                card.classList.add(colorClass);
            });
        });
        </script>
        
        
{% endblock %}
